@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1 {
    background-color:  rgb(133, 133, 133);
    background-color: rgb(250, 250, 250);
    background-color: hsl(0, 0%, 100%);
    background-color: black;

} */

html, body {
    min-width: 360px;

} 
* {
    @apply transition-colors duration-100;
}
.somr {
    color: rgb(90, 90, 90);
}


 /*<div className="bg-red-400 dark:bg-darkModeBg dark:text-white">
          <p>Lets see</p>
        </div>
        <button className="btn " onClick={toggleDarkMode}>Click</button> */